.swiper-pagination {
    bottom: 0px !important; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 100;
  }
  
  /* Example: position pagination at the top */
  .swiper-pagination-top {
    top: 10px !important;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Example: position pagination at the bottom-right */
  .swiper-pagination-bottom-right {
    bottom: 10px !important;
    right: 10px;
    left: auto;
    transform: none;
  }